{% extends './base.html' %}
{% block isi %}
<section class="wadah" v-cloak @vue:mounted='cek'>
	<h1>Edit Tasks</h1>
	<form action="" @submit.prevent='simpan'>
		<textarea name="" required id="" cols="30" rows="10" placeholder="first task
second task
third task" v-model='tasks_teks'></textarea>
		<input type="submit" value="Done" />
	</form>
</section>
<script>
PetiteVue.createApp({
	tasks_teks: '',
	cek() {
		if (localStorage.tasks_teks) {
			this.tasks_teks = localStorage.tasks_teks
		}
	},
	simpan() {
		localStorage.tasks_teks = this.tasks_teks
		localStorage.tasks_list = JSON.stringify(this.tasks_teks.split('\n').filter(x => x))
		location.href = 'index.html'
	}
}).mount('.wadah')
</script>
<style lang="windi">
[v-cloak] {
	@apply hidden
}

* {
	@apply break-words
}

.wadah {
	@apply p-5 pb-10
}

.wadah h1 {
	@apply text-center text-3xl pb-5
}

textarea {
	@apply border focus: outline-none border-gray-300 px-2 py-1 rounded w-full
}

[type='submit'] {
	@apply w-full bg-white px-3 py-1 rounded border border-gray-400 text-gray-700 cursor-pointer focus: (bg-black text-white) hover: (bg-black text-white);
}
</style>
{% endblock %}