{% extends './base.html' %}
{% block isi %}
<section class="wadah">
	<h1>My Tasks</h1>
	<ol class="app" @vue:mounted='cek'>
		<li v-for='(x, n) in list' :class='n == nilai ? "terpilih" : ""'>{{ x }}</li>
	</ol>
</section>
<a class="tombol kanan" href="edit.html">
	{% include './icon/pensil.html' %}
</a>
<script>
PetiteVue.createApp({
	list: [],
	nilai: 0,
	cek() {
		if (localStorage.tasks_list) {
			this.list = JSON.parse(localStorage.tasks_list)

			let tanggalan = new Date
			let tanggal_sekarang = tanggalan.getDate()
			let banyak_list = this.list.length

			if (tanggal_sekarang >= banyak_list) {
				this.nilai = tanggal_sekarang % banyak_list
			} else {
				this.nilai = banyak_list % tanggal_sekarang
			}
		}
	}
}).mount(".app");
</script>
<style lang="windi">
[v-cloak] {
	@apply hidden
}

* {
	@apply break-words
}

.wadah {
	@apply p-5 pb-10
}

.app li {
	@apply px-2 py-1 inline-block rounded mr-1 mb-1 text-sm border border-gray-300
}

.terpilih {
	/*ini buat style yang terpilih*/
	@apply bg-black text-white border-black
}

.wadah h1 {
	@apply text-center text-3xl pb-5
}

.tombol.kiri {
	@apply left-0
}

.tombol.kanan {
	@apply right-0
}
</style>
{% endblock %}